* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 35%;
  left: 10%;
  top: 8%;
}

.my-name {
  color: #172b4d;
}

.career {
  color: #36b37e;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 15px;
}

a {
  color: #505f79;
}

nav a {
  color: #3a4a42;
  text-decoration: none;
}

.list {
  display: flex;
  list-style: none;
  gap: 25px;
}

#toggler,
label {
  display: none;
}

.social {
  display: flex;
  position: relative;
  width: 80%;
  height: 30%;
  left: 17%;
  top: 20%;
}

p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  position: relative;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 1%;
}

@media screen and (max-width: 650px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  label {
    display: inline-flex;
  }

  #toggler:checked ~ .menu {
    max-height: 100vh;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
