* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.app-wrap {
  background-image: url('background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #3a4a42;
  line-height: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 5%;
}

.my-name {
  color: #172b4d;
  padding-top: 4%;
}

.career {
  color: #36b37e;
}

.app-header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 2%;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 15px;
}

a {
  color: #505f79;
  text-decoration: none;
  margin-top: 0;
}

nav a {
  color: #3a4a42;
  text-decoration: none;
}

.next-page {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 80%;
  height: 20%;
  justify-content: center;
  padding: 8%;
}

li {
  align-items: center;
  display: inline-block;
  margin: 0;
}

ul {
  display: inline-block;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.list {
  display: flex;
  list-style: none;
  gap: 25px;
}

#toggler,
label {
  display: none;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.social ul li {
  margin: 0 4px;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding-top: 2%;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  position: relative;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 1%;
}

.fa-brands {
  margin-left: 20px;
}

.fa-regular {
  margin-left: 20px;
}

.fa-solid {
  margin-left: 20px;
}

@media screen and (min-width: 375px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  label {
    display: inline-flex;
  }

  #toggler:checked ~ .menu {
    max-height: 100vh;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

#heading {
  width: 100%;
  color: #172b4d;
  font-weight: 700;
  font-size: 20px;
}

.work-item {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-top: 300px solid #d2d2d2;
  border-radius: 20px;
  margin: 1rem 1rem;
  text-align: center;
}

.container-body {
  display: flex;
  flex-direction: column;
}

.app-wrap:first-child {
  order: 1;
}

.my-work {
  order: 2;
  display: grid;
}

.summary-card {
  display: flex;
  background-color: #ebf0ee;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 1rem 1rem;
  text-align: center;
  padding: 2rem 1rem;
}

.about-me-content {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: fit-content;
  width: 80%;
  margin: 2rem 10%;
}

button {
  border: none;
  padding: 0.5rem;
  font-family: Inter, sans-serif;
  color: #3a4a42;
}

button:hover {
  background-color: #374e44;
}

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 500px;
  line-height: 2rem;
  text-align: center;
  color: #172b4d;
}

.resume {
  padding: 1rem 1rem;
  height: 2rem;
  margin-bottom: 2rem;
}

.langs {
  min-width: fit-content;
  padding: 0.3rem;
  border: none;
  margin: 0 auto;
}

.tech {
  background-color: #fff;
  margin: 5px 3px;
  color: #3dc58c;
  border-radius: 5px;
}

.btn2 {
  display: flex;
  justify-content: center;
  background-color: #36b37f;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem auto;
  font-family: Inter, sans-serif;
  color: #d2d2d2;
  border-radius: 5px;
  height: 45px;
  width: 150px;
}

i:hover {
  filter: brightness(80%);
}

.summary-card ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.summary-card ul li {
  margin: 0 1px;
  padding: 0%;
}
