* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

.app-wrap {
  background-image: url('background.svg');
  background-repeat: no-repeat;
  top: fixed;
  background-size: cover;
  padding-top: 20%;
  height: 150%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: 35%;
  left: 10%;
  top: 8%;
}

.my-name {
  color: #172b4d;
  padding-top: 4%;
}

.career {
  color: #36b37e;
}

.app-header {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 2%;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 15px;
}

a {
  color: #505f79;
}

nav a {
  color: #3a4a42;
  text-decoration: none;
}

.next-page {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 80%;
  height: 20%;
  justify-content: center;
  top: 15%;
}

.list {
  display: flex;
  list-style: none;
  gap: 25px;
}

#toggler,
label {
  display: none;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 10%;
}

.social ul li {
  margin: 0 4px;
}

p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding-top: 2%;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  position: relative;
  width: 80%;
  height: 20%;
  left: 10%;
  top: 1%;
}

.fa-brands {
  margin-left: 20px;
}

.fa-regular {
  margin-left: 20px;
}

.fa-solid {
  margin-left: 20px;
}

@media screen and (min-width: 375px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  label {
    display: inline-flex;
  }

  #toggler:checked ~ .menu {
    max-height: 100vh;
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
